<%- include('tete'); -%>
<style>
  #livre:hover
  {
    background: red;
  }
</style>
<%- include('header'); -%>

<div class="py-5" style="	background-image: url(/assets/page/image/cta2-background.jpg);	background-position: top left;	background-size: 100%;	background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="px-md-5 p-3 col-md-12 d-flex flex-column justify-content-center">
          <h1 class="text-light">BIBLIOTHEQUE</h1>
          <p class="mb-3 lead text-light">Decouvrez ici nos livres numeriques</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="tittle wow fadeInUp">
          <h2>Recherchez les livres que vous voulez lire</h2>
      </div>
      <div class="col-lg-12 ">
        <form class="form-inline">
    <div class="form-group  row  
       col-xs-9 col-sm-6 col-md-5 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
        <input type="search" placeholder="Recherchez le livre a lire" style="width: 100%;" id="Email1" class="form-control input-lg">
    </div>
    <div class="form-group row col-xs-1 col-sm-4 col-md-3 col-lg-2">
      <button style="height: 47px;" type="submit" class=" btn btn-primary">Recherche</button>
    </div>
</form>
</div>
      </div>
      <div class="row">
        <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <a id="livre" href="#">
            <div class="col-lg-12">
              <img style="width: 100%; height: 350px;" src="/assets/page/image/startup.png" >
            </div>
            <div class="col-lg-12">
              <button style="width: 100%; height: 80px; background: #12bbad; border-color: #fff; font-size: 25px; color: #fff;">Lire</button> 
          </div> 
          </a>
      </div>
      <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a id="livre" href="#">
          <div class="col-lg-12">
            <img style="width: 100%; height: 350px;" src="/assets/page/image/busi.png" >
          </div>
          <div class="col-lg-12">
            <button style="width: 100%; height: 80px; background: #12bbad; border-color: #fff; font-size: 25px; color: #fff;">Lire</button> 
        </div> 
        </a>
    </div>
    <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <a id="livre" href="#">
        <div class="col-lg-12">
          <img style="width: 100%; height: 350px;" src="/assets/page/image/candide.jpg" >
        </div>
        <div class="col-lg-12">
          <button style="width: 100%; height: 80px; background: #12bbad; border-color: #fff; font-size: 25px; color: #fff;">Lire</button> 
      </div> 
      </a>
  </div>
  <div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <a id="livre" href="#">
      <div class="col-lg-12">
        <img style="width: 100%; height: 350px;" src="/assets/page/image/busi.png" >
      </div>
      <div class="col-lg-12">
        <button style="width: 100%; height: 80px; background: #12bbad; border-color: #fff; font-size: 25px; color: #fff;">Lire</button> 
    </div> 
    </a>
</div>
<div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <a id="livre" href="#">
    <div class="col-lg-12">
      <img style="width: 100%; height: 350px;" src="/assets/page/image/startup.png" >
    </div>
    <div class="col-lg-12">
      <button style="width: 100%; height: 80px; background: #12bbad; border-color: #fff; font-size: 25px; color: #fff;">Lire</button> 
  </div> 
  </a>
</div>
<div style="margin-top: 30px;"  class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <a id="livre" href="#">
    <div class="col-lg-12">
      <img style="width: 100%; height: 350px;" src="/assets/page/image/busi.png" >
    </div>
    <div class="col-lg-12">
      <button style="width: 100%; height: 80px; background: #12bbad; border-color: #fff; font-size: 25px; color: #fff;">Lire</button> 
  </div> 
  </a>
</div>
      </div>
    </div>
  </div>
  <%- include('footer'); -%>
</body>

</html>