<style>
    #soumenue:hover > a , #soumenue:hover
    {
        background: #12bbad ;
        color: rgb(255, 255, 255);
        width: 100%;
        text-decoration: none;
    }
    
    
    
    </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar19">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar19"> <a class="navbar-brand d-none d-md-block" href="#">
          <i class="fa d-inline fa-lg fa-stop-circle-o"></i>
          <b>UNIVERSITE DIGITALE</b>
        </a>
        <ul class="navbar-nav mx-auto ">
          <li class="nav-item"> <a class="nav-link active" href="/">Acceuil</a> </li>
          <li class="nav-item dropdown submenu " > <a class="nav-link" class="dropdown-toggle" data-toggle="dropdown" href="#">Info-universite</a> 
            <ul  class="dropdown-menu other_dropdwn">
                <li id="soumenue"><a   href="/critereinscrit">Critere d'inscription</a></li>
                <li id="soumenue"><a  href="/mensualite">Mensualite</a></li>
                <li id="soumenue"><a  href="/reglement">Reglement Interieur</a></li>
                <li id="soumenue"><a  href="/valeur">Valeur de l'Universite</a></li>
            </ul>
        </li>
          <li class="nav-item dropdown submenu"> <a class="nav-link" class="dropdown-toggle" data-toggle="dropdown" href="#">Verification des notes</a> 
            <ul  class="dropdown-menu other_dropdwn">
                <li id="soumenue"><a   href="/universite">Universite</a></li>
                <li id="soumenue"><a  href="/bts">BTS</a></li>
            </ul>
        </li>
          <li class="nav-item"> <a class="nav-link" href="/espace">Espace d'apprentissage</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/contact">Contact</a> </li>
        </ul>
      </div>
    </div>
  </nav>