<%- include('tete'); -%>

<%- include('header'); -%>

<div class="py-5" style="background-image: url(/assets/page/image/cta2-background.jpg);	background-position: top left;	height: 400px;	background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="px-md-5 p-3 col-md-12 d-flex flex-column justify-content-center">
          <h1 class="text-light">REGLEMENT INTERIEUR</h1>
          <p class="mb-3 lead text-light">Information sur le reglement interieur</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <div class="container">
      <section class="banner_area" data-stellar-background-ratio="0.5">
     <section class="about_us_area row">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Le Reglement interieur de l'universite</h2>
            </div>
            <div class="row about_row">
                <div class="who_we_area col-md-7 col-sm-6">
                    <ul class="text-left" style="font-size: 25px;">
                        <li>Le port des sandales interdite</li>
                        <li>Le Vernaculaire interdit</li>
                         <li>Le port des sandales interdite</li>
                        <li>Le Vernaculaire interdit</li>
                         <li>Le port des sandales interdite</li>
                        <li>Le Vernaculaire interdit</li>
                         <li>Le port des sandales interdite</li>
                        <li>Le Vernaculaire interdit</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    </div>
  </div>
  <%- include('footer'); -%>
</body>

</html>