<%- include('tete'); -%>

<%- include('header'); -%>

<div class="py-5" style="background-image: url(/assets/page/image/cta2-background.jpg);	background-position: top left;	height: 400px;	background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="px-md-5 p-3 col-md-12 d-flex flex-column justify-content-center">
          <h1 class="text-light">VALEURS</h1>
          <p class="mb-3 lead text-light">Decouvrez ici nos valeurs</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h1 class="mb-3">Nos Valeurs</h1>
          <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.&nbsp; <br> <br>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center text-white bg-info">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3">Notre Equipe</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="/assets/page/image/team1.jpg" alt="Card image cap" width="200">
          <h4> <b>Aicha Sylla</b> </h4>
          <p class="mb-0">Fondateur</p>
        </div>
        <div class="col-lg-4 col-md-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="/assets/page/image/team2.jpg" alt="Card image cap" width="200">
          <h4> <b>Alpha Amadou Barry</b> </h4>
          <p class="mb-0">Provisseur</p>
        </div>
        <div class="col-lg-4 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="/assets/page/image/team3.jpg" width="200">
          <h4> <b>Amara Camara</b> </h4>
          <p class="mb-0">Directeur</p>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer'); -%>
</body>

</html>